*{
    box-sizing: border-box;
}

body{    
    background-color: rgb(4,4,4);

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(232,232,232);
}

a {
    color: rgb(200,200,200);
    text-decoration: none;
}

a:hover{    
    color: white;
}

#gameboard{
    background-color: rgb(32,32,32);
    border: 2px solid rgb(48,48,48);
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    max-width: 540px;
    max-height: 540px;
    margin: auto;    
}

#info{
    background-color: rgb(32,32,32);
    border: 2px solid rgb(48,48,48);
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 50vw;
    max-width: 540px;
    text-align: center;
    justify-content: center;
}

#chat{
    background-color: rgb(32,32,32);
    border: 2px solid rgb(48,48,48);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50vw;
    max-width: 540px;
    text-align: left;
    justify-content: center;
}

#chat_output{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 270px;
    overflow-y: auto;
}

.chat-message{
    background-color: rgb(16,16,16);
    border: 1px solid rgb(48,48,48);
    border-radius: 5px;
    font-size: 0.8em;
    padding: 5px;
    width: 100%;
}

    .chat-message:not(:first-child){
        margin-top: 5px;
    }

#chat_interface{
    display: flex;
    width: 100%;
}

.label{
    background-color: rgb(16,16,16);
    border: 1px solid rgb(48,48,48);
    padding: 5px;
    margin: 0;
}

input{
    background-color: rgb(16,16,16);
    border: 1px solid rgb(48,48,48);
    color: rgb(232,232,232);
    padding: 5px;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

    input:hover, input:focus, input:active{
        background-color: rgb(8,8,8);
        border: 1px solid rgb(64,64,64);
        outline: none;
    }

#chat_name{
    width: 20%;
}

#chat_input{
    flex-grow: 1;
}

#chat_send{
    background-color: rgb(32,128,64);
    border: 1px solid rgb(48,48,48);
    color: rgb(232,232,232);
    padding: 10px; 
    font-size: 0.8em;
}

    #chat_send:hover{
        cursor: pointer;
        background-color: rgb(32,160,64);
    }

.tile{
    margin: 0;
    border: 1px solid rgb(48,48,48);
    background-color: gray;
    height: calc(100% / 16);
    width: calc(100% / 16);
}

    .tile:hover{
        cursor: pointer;
        opacity: 0.8;
    }

.color_0{
    background-color: rgb(32,128,64);
}

.color_1{
    background-color: rgb(64,232,32);
}

@media only screen and (max-width:768px){
    #gameboard{
        height: calc(100vw - 20px);
        width: calc(100vw - 20px);
    }

    #info, #chat{
        width: calc(100vw - 20px);
    }

    #chat_output{
        max-height: 50vw;
    }
}