<!doctype html>
<html>

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
</head>

<body>
    <div id="title">
        Shades of Green
    </div>
    <div id="gameboard">

    </div>
    <div id="info">
        Welcome to the game.
    </div>
    <div id="chat">
        <div class="label">
            Chat
        </div>
        <div id="chat_output">
            <div class="chat-message">There are no messages.</div>
        </div>
        <div id="chat_interface">
            <input type="text" id="chat_name" placeholder="Name..." maxlength="16">
            <input type="text" id="chat_input" placeholder="Message..." maxlength="200">
            <div id="chat_send">Send</div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>

</html>