<!doctype html>
<html>

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
</head>

<body>
    <div id="title">        
        Shades of Green
        <img id="logo" src="{{url_for('static', filename='images/logo.svg')}}">        
    </div>
    <div id="gameboard">

    </div>
    <div id="info">
        <span id="info_readout">Welcome to the game.</span>
        <a href="#" class="small-link" id="more_info">More Info</a>
    </div>
    <div id="chat">
        <div class="label">
            Chat
        </div>
        <div id="chat_output">
            <div class="chat-message">There are no messages.</div>
        </div>
        <div id="chat_interface">
            <input type="text" id="chat_name" placeholder="Name..." maxlength="16">
            <input type="text" id="chat_input" placeholder="Message..." maxlength="200">
            <div id="chat_send">Send</div>
        </div>
    </div>
    <div id="about">
        <span class="title">Shades of Green</span>
        A Game of Colors
        <h3>How to Play</h3>
        <p style="margin: 0 auto 0 auto;">- Click on a colored square to change its color.</p>
        <p style="margin: 5px auto 0 auto;">- You may only change the color of a square once every 5 seconds.</p>
        <p style="margin: 5px auto 0 auto;">- Work with others in the chat to make more intricate symbols.</p>
        </p>
        <a href="#" class="small-link" id="less_info">Close</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>

</html>